@model webapi4.Models.SnVehiculo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SnVehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefijo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefijo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Variable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Variable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndVehiAlma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndVehiAlma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propiedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propiedad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idcarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idcarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linecarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linecarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cod.CodCia)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cod1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cod1.CodCia)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cod2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cod2.CodCia)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodC.CodCia)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCiaNavigation.CodCia)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodNavigation.CodCia)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodCia" />
        <input type="hidden" asp-for="CodObra" />
        <input type="hidden" asp-for="CodVehiculo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
